.alt-header{
    padding-top:40px;
    margin: 0 var(--horizontal-space);
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}
.alt-header__title{
    font-size: 25px;
    font-weight: 600;
}
.alt-header__column:first-child{
    margin-right: auto;
}
.alt-header__column:last-child{
    margin-left: auto;
}