.alt-header{
    padding: 0 var(--horizontal-space);
    padding-top: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
  
}
.alt-header__title{
    font-size: 25px;
    font-weight: 600;
}
.alt-header__column{
    width: 33%;
    
}
.alt-header__column:first-child{
    margin-right: auto;
}
.alt-header__column:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.alt-header__column:last-child{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.alt-header__column i{
    font-size:25px;
}
