.nav{

    position: fixed;
    bottom:0;
    width: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 20px 50px;
    border-top: 1px solid #AFAFAF;
}
.nav__list{
    display: flex;
    justify-content: space-between; 
      
}
.nav__link{
    color: #2F363E;
    position: relative;
    text-decoration: none;
}
.nav__notification{
  
    position: absolute;
    bottom: 15px;
    right:-15px;
}
.nav__dot{
    display: block;
    width:5px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;
     
    position: absolute;
    right:-1px;
}